@layer overrides {
  .logo-small {
    max-width: 600px;
  }

  .logo-small .image-inner,
  .logo-small picture,
  .logo-small img {
    width: 454px;
    height: 152px;
    display: block;
    margin: 0 auto;
  }
}
