@layer overrides {
  .logo-small {
    max-width: 600px;
  }

  .logo-small .image-inner,
  .logo-small picture,
  .logo-small img {
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
